@media screen and (max-width: 1482px) {
  div.bulk {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and  (max-width: 1682px){
  div.sulk {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and  (max-width: 1382px){
  div.fulk {
    flex-direction: column;
    width: 100%;
  }
}

header {
  display: flex;
  justify-content: center;
  border-top: 3px solid #4b3427;
}
a:link {
  color:#4b3427;
  background-color: #d1f4ff ;
  text-decoration:none;
  display: inline-block;
  text-align: center;
  padding: 5px 45px;
  flex: 1;
}
a:visited {
  color:#4b3427;
}
progress::-webkit-progress-bar {
        background-color: #f8f0d2;
    }

    progress::-webkit-progress-value {
        background-color:  #fad1ff  !important;
    }
    img {
      border-radius: 50%;
    }
.bulk {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: row;
  height: 100vh

}
.fulk {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: row;
  height: 100vh

}
.sulk {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: row;
  height: 100vh;
}


.info {
  border-right : 1px solid #4b3427;
  border-top: 1px solid #4b3427;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding:14px;
}
.check{
  width: auto;
  margin : 0 auto;
  border-top: 1px solid #4b3427;
  display: flex;
  float: left;
  padding: 5px;
  flex: 1;
 flex-direction: column;
 align-items: left;
 padding:40px;
 flex-wrap: wrap;
}
footer{
  text-align: center;
  padding: 3px;
  background-color: #4b3427;
  color:  #d1f4ff ;
}
.bars{
  width: auto;
  margin : 0 auto;
  border-top: 1px solid #4b3427;
  display: flex;
  float: left;
  flex: 1;
 flex-direction: column;
 align-items: left;
 padding:40px;
 flex-wrap: wrap;

 


  padding: 10px;
  padding-top: 100px;
  padding-left: 70px;
  line-height: 2.0;

  

}
.interest{
  border-top: 1px solid #4b3427;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  padding-top: 100px;
  padding-left: 70px;
  line-height: 1.4;
}
.edu {
  border-top: 1px solid #4b3427;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  padding-top: 100px;
  padding-left: 70px;
  line-height: 1.4;
}
.exp{
  border-top: 1px solid #4b3427;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  padding-top: 100px;
  padding-left: 70px;
  line-height: 1.4;
}
